body{
    background-color: #b3cc79;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 3em;
    padding-bottom: 3em;
}
.errorMessage{
    color: red;
}
.form-control{
    background-color:rgba(253, 253, 253, 0.863);
    padding: 22px;
    border: none;
    border-radius: 10px;
}
.btn{
    border-radius: 10px;
    padding: 9px 25px;
    background-color: rgb(63, 63, 73);
    color: white;
}

.btn:hover{
    color: white;
    background-color: teal;
}

.search-box{
    position: relative;
    
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}


.card{
    height: 100%;
    border-radius: 10px;
}
.detailImg{
    height: 50%;
    border-bottom: 3px solid #62664a;
    border-radius: 10px;
}

#inputRecipe{
    height: 50px;
}
#errorMessage{
    text-align: center;
}

#foodDetails, #foodList{
    padding: 0 2%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-gap: 15px;
}

#foodDetails{
    padding-left: 33%;
    padding-top: 20px;
    padding-bottom: 30px;
}
